.movie_card{
    width: 240px;
    margin: 10px;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie__cover_inner{
    position: relative;
    height: 360px; 
}

.poster{
    max-width: 100%;
    height: 100%;
}

.movie__cover_darkened{
    background-color: #000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.movie__cover_darkened:hover{
    background-color: grey;
    cursor: pointer;
}

.decription{
    padding: 10px 0px;
}

.movie_title{
    font-size: 16px;
    color: #fff;
}

.category{
    font-size: 14px;
    color: #ffd80e;
}

.movie_average{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f191f;
    color: #fff;
    font-size: 14px;
    border: 1px solid green;
}